html, body {
    margin: 0;
    padding: 0;
}

.main {
    background: url('img/bike.jpg') no-repeat left top;
    background-size: auto;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.welcome_logo {
    border: solid #FAFAFA 3px;
    padding: 0.5em;
    border-radius: 50%;
    width: 53%;
    margin: auto;
    background: rgba(0, 0, 0, 0.85);
}

.welcome_box {
    width: 91%;
    height: 60%;
    margin: auto auto 30% auto;
    background: rgba(0, 0, 0, 0.85);
}

.welcome_box .welcome_header_text {
    color: #FAFAFA;
    font-family: sans-serif;
    text-align: center;
    padding: 1em 0;
}

.welcome_box .welcome_inputs_container {
    text-align: center;
    margin: 0 0 2em 0;
}

.welcome_box .welcome_toggle_map_button,
.welcome_box .welcome_box_submit {
    background: #FAFAFA;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 1em 0 2em 0;
}

.welcome_box .welcome_toggle_map_button:hover,
.welcome_box .welcome_box_submit:hover {
    background: #9E9E9E;
}

.welcome_box .welcome_toggle_map_button:active,
.welcome_box .welcome_box_submit:active {
    outline: none;
}

/* input boxes styling */

.welcome_box_input_group {
    width: 70%;
    margin: auto;
    position: relative;
}

.welcome_box_input_group:last-child {
    margin: 1.5em auto 0 auto;
    position: relative;
}

.welcome_box_input_box {
    background: transparent;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 87%;
    border: none;
    border-bottom: 1px solid #E8F5E9;
    outline: none;
}

.welcome_box .welcome_box_input_label {
    color: #D8DEE9;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.welcome_box_input_box:focus~.welcome_box_input_label, .welcome_box_input_box:valid~.welcome_box_input_label {
    top: -20px;
    font-size: 14px;
    color: #D8DEE9;
}

.welcome_box .welcome_box_input_box {
    color: #E8F5E9;
}

.welcome_box_input_bar {
    position: relative;
    display: block;
}

.welcome_box_input_bar:before, .welcome_box_input_bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #D8DEE9;
    transition: 0.2s ease all;
    -o-transition: 02s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.welcome_box_input_bar:before {
    left: 42%;
}

.welcome_box_input_bar:after {
    right: 50%;
}

.welcome_box_input_box:focus~.welcome_box_input_bar:before, input:focus~.welcome_box_input_bar:after {
    width: 50%;
}

.welcome_box_input_box:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/*style our desktop view*/
@media only screen and (min-width: 500px) {
    .main {
        background-size: 100% auto;
    }
    .welcome_logo {
        margin: 10% auto 0 auto;
        width: 12%;
    }
    .welcome_box {
        margin: auto auto 80% auto;
        width: 50%;
        border-radius: 3px;
    }
}


/*--------------------------------------- */
/* RESULTS PAGE SPECIFIC */

/* sidebar properties */
.sideBar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
/*Transport buttons*/
.results_plane_button {
  background: #FAFAFA;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 1em 0 2em 0;
}
.results_bike_button{
  background: #FAFAFA;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 1em 0 2em 0;
}
.results_person_button{
  background: #FAFAFA;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 1em 0 2em 0;
}
.results_bus_button{
  background: #FAFAFA;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 1em 0 2em 0;
}
.results_car_button{
  background: #FAFAFA;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 1em 0 2em 0;
}
/* sidebar links */
.sideBar a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* sidebar hover property */
.sideBar a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* sidebar close button */
.sideBar .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* sidebar on small screens */
@media screen and (max-height: 450px){
  .sideBar{padding-top: 15px}
  .sideBar a{font-size: 18px}
}

/* open sidebar button */
.openbtn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text_align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mainResults {
  background: url('img/resultsBGgreen.jpg') no-repeat left top;
  background-size: auto;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
