.results_background {
    background: url('img/backgroundGood.png') no-repeat left top;
}

.results_logo {
    width: 80%;
    margin: 0 0 2em 0;
}

/*Transport buttons group*/

.results_buttons_group {
    margin: auto;
    position: relative;
    top: 87%;
}

.results_transport_buttons_big {
    width: 95px;
    height: 95px;
}

.results_transport_buttons_middle {
    width: 85px;
    height: 85px;
}

/* sidebar properties */

.results_sideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
    transition: 0.5s;
}

.results_close_button{
    position: absolute;
    margin: 10px 0;
}

/* sidebar links */

.results_sidebar .results_sidebar_links {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* sidebar close button */

.results_sideBar .results_sidebar_links {
    position: absolute;
    top: 0;
    left: 1%;
    font-size: 16px;
}


/* sidebar on small screens */

@media screen and (max-height: 450px) {
    .results_sidebar {
        padding-top: 15px
    }
    .results_sidebar .results_sidebar_links {
        font-size: 18px
    }
}


/* open sidebar button */

.results_sidebar_open {
    position: absolute;
    top: 5;
    left: 1%;
}

.results_map {
    float: right;
    top: 5%;
    left: 8%;
}


/* this will be gone soon, dont mind me */

.results_info_pane {
    color: white;
    margin: 0 3%;
    border: 2px solid white;
    padding: 2em;
    background-color: green;
    box-shadow: 0 0 1em #212121;
}
